 <style type="text/css">
    body {
      background-image: url('https://raw.githubusercontent.com/emgregor/MyFiles/master/backgroundperfume.jpg');
      background-repeat: no-repeat;
      background-color: #ffffff;
      background-size: cover;
      background-color: #ffffff;
      background-position: 50% 100%;
      font-family: 'Josefin Sans', sans-serif;
      color: #ffffff;
      height: 100vh;
    }
    h1 {
      font-size: 34px;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 0 0 0 0;
    }
    p {
      font-size: 16px;
      font-weight: 300;
      width: 250px;
      margin-top: 10px;
    }
    a {
      font-family: 'Josefin Sans', sans-serif;
      color: #ffffff;
    }
    input {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 2px solid #ffffff;
      border-radius: 5px;
      color: #ffffff;
      background-color: rgba(0,0,0,0.2);
      font-size: 14px;
      font-family: 'Josefin Sans', sans-serif;
    }
    button {
      margin-top: 20px;
      background-color: rgba(0,0,0,0.2);
      border: none;
      color: #ffffff;
      padding: 10px 10px 8px 10px;
      margin: 4px 2px;
      font-size: 14px;
      border: 2px solid #ffffff;
      border-radius: 5px;
      font-family: 'Josefin Sans', sans-serif;
    }
    ::-webkit-input-placeholder { /* Edge */
      color: #ffffff;
      font-weight: 400;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #ffffff;
      font-weight: 400;
    }
    ::placeholder {
      color: #ffffff;
      font-weight: 400;
    }
    
    div.form {
      margin-right: auto;
      margin-left: auto;
      width: 75%;
    }
    input[type="checkbox"] {
      display: inline-block;
      width: 15px;
      vertical-align: ;
    }
    .label-text {
      display: inline-block;
      width: 200px;
      word-break: break-all; 
    }
    span.label {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 300;
      font-size: 13px;
      line-height: 1;
    }
    div.form {
      position: relative;
      top: 30px;
    }
    hr {
      margin-bottom: 30px;
      border-width: 1px;
      border-style: solid;
      width: 50%;
    }
    
    @media (max-width: 479px) {
      body {
        font-size: 16px;
      }
    }
  </style>
