h1 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;   
    text-align: left;
    margin-bottom: 0px;
    letter-spacing: 3px;}

body {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    background-color: #edebeb;
}

p {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: left;
}


#nav {position: fixed;
    top: 0;
    right: 0;
    height: 50px;
}

.nav a:link, .nav a:visited {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

#introphoto {
    position: absolute;
    right: 25px;
}


#content {
    position: fixed;
    margin-top: 60px;
}

#fadein {
    position: relative;
    margin-left: 120px;
    width: 45%;
}

.first-text {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 2s;
}

.second-text {
    opacity: 0;
  animation-name: fadein;
  animation-delay: 2s;
  animation-duration: 3s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}