h1 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;   
    text-align: left;
    margin-bottom: 20px;}

body {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    background-color: #edebeb;
}

p {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: left;
}


#nav {position: fixed;
    top: 0;
    right: 0;
    height: 50px;
}

.nav a:link, .nav a:visited {
    text-transform: uppercase;
    font-size: 12px;
}

#introphoto {
    float: right;
}


#content {
    position: fixed;
    margin-top: 60px;
}

#fadein {
    position: relative;
    margin-left: 150px;
    width: 40%;
}

#fadein h1 {font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;   
    text-align: left;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

#fadein p {
    text-align: left;
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}

#fadein p.class {
    animation-delay:4s;
text-align: left;}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}