h1 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;   
    text-align: left;
    margin-bottom: 0px;
    margin-top: 0px;
    letter-spacing: 3px;
    color: lightpink;}

body {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    background-color: #edebeb;
}

p {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}


#nav {position: fixed;
    top: 0;
    right: 0;
    height: 50px;
}

.nav a:link, .nav a:visited {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.nav a:hover {
    color: #aaccbb;
}

#introphoto {
    position: absolute;
    right: 0px;
    top: 0px;
}


#content {
    position: fixed;
}

#fadein {
    position: relative;
    margin-left: 120px;
    margin-top: 400px;
    width: 45%;
}

.first-text {
    opacity: 0;
    -moz-animation: fadein 2s ease-in 0s both; /* Firefox */
    -webkit-animation: fadein 2s ease-in 0s both; /* Safari and Chrome */
    -o-animation: fadein 2s ease-in 0s both; /* Opera */
    animation: fadein 2s ease-in 0s both;
}

.second-text {
    opacity: 0;
    -moz-animation: fadein 2s ease-in 3s both; /* Firefox */
    -webkit-animation: fadein 2s ease-in 3s both; /* Safari and Chrome */
    -o-animation: fadein 2s ease-in 3s both; /* Opera */
    animation: fadein 2s ease-in 3s both;
    margin-top: 0;}


@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}