h1 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;   
    text-align: left;
    margin-bottom: 0px;
    letter-spacing: 4px;}

body {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    background-color: #edebeb;
}

p {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: left;
}


#nav {position: fixed;
    top: 0;
    right: 0;
    height: 50px;
}

.nav a:link, .nav a:visited {
    text-transform: uppercase;
    font-size: 12px;
}

#introphoto {
    position: absolute;
    right: 25px;
}


#content {
    position: fixed;
    margin-top: 60px;
}

#fadein {
    position: relative;
    margin-left: 120px;
    width: 45%;
}

.first-text {
  opacity: 0;
  animation-name: first;
  animation-duration: 2s;
  color: black;
}

.second-text {
    opacity: 0;
  animation-name: second;
  animation-duration: 3s;
  color: black;
}

.animation-box {
  width: 75%;
  height: 27.5rem;
  background-color: blue;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.animation-container {
  width: 1000rem;
  height: 30rem;
}

@keyframes first {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes second {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
  
}